/* Typography */
h1, h2 {
    text-align: center;
    font-family: 'Open Sans', sans;
}
h2 {
    color:khaki;
}
h1 {
    color:black;
}
/* General */
h1 {
    background-color: burlywood;
}
body {
    width: 800px;
    margin: 0 auto;
    background-color:cadetblue;
    color:khaki;
}
main {
    background: url(Images/phone_globe.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
/* Block Styling */
main {
    display: flex;
flex-flow: row wrap;
justify-content: space-around;
}
/* Form Styling */
div {
    border: 5px solid black;
    display: flex;
}
/* Styling the products display */ 
img {
    width: 200px;
    height: 200px;
}