h1 {
   color:black;
}
body {
    text-align: center;
    background-color: red;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
img:hover {
    box-shadow: 0 0 5px 1px black;
}